darkGrey = #424242
lightRed = #F44336

main
  background-image url(./../img/pattern.svg)
  min-height 100vh
  min-width 100vw
  text-align center
  font-size 19px
  color white

#h1
  margin-bottom: -0.1px
  font-size: 80px
  line-height: 20px;

#dn
  font-family: 'Allerta', sans-serif;
  font-size: 10px

#ace
  font-family: 'Electrolize', sans-serif;

#joke
  font-family: 'Montez', cursive;

.upload-btn, .paste-btn
  display inline
  margin-right 2em
  font-size 16px

.keywords
  font-family: 'Electrolize', sans-serif;

/* Optional Paste FASTA modal */
.modal-content, .modal-footer
  background-color darkGrey
  color white

.dnaInput
  height 200px
  width 560px

/* For computers and tablets */
@media (min-width: 900px)
  .descrip
    margin-top 20vh

  .desc-container
    padding-left 30px
    padding-right 30px

  .pitch
    font-size 27px

  .landing-btn
    margin-top 50px

/* make buttons on seperate lines on phones */
@media (max-width: 475px)
  main
    font-size 13px

  #h1
    font-size 55px
    line-height 30px

  .upload-btn, .paste-btn
    display block
    margin-left 0em
    font-size 9px

  .paste-btn
    margin-top 2em

  .pitch
    font-size 18px
